option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    # No PYTHONPATH needed when deploying only the app root
    # Set SECRET_KEY, DEBUG, and ALLOWED_HOSTS in the EB console if preferred.
    # DEBUG: "False"
    # ALLOWED_HOSTS: "djangotutorial-env.us-east-1.elasticbeanstalk.com,.elasticbeanstalk.com,localhost,127.0.0.1"


